<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ccv.checkhelzio.registrocucshbelenes">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.Logo"
            android:theme="@style/AppTheme.TranslucentStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.Principal"
            android:theme="@style/AppTheme.TranslucentStatusBar">
            <intent-filter>
                <action android:name="REGISTRO_BELENES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.DateDialogHelzio"
            android:theme="@style/AppTheme.Translucent.DateDialog">
            <intent-filter>
                <action android:name="DATE_DIALOG" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.DialogEventosHelzio"
            android:theme="@style/AppTheme.Translucent">
            <intent-filter>
                <action android:name="EVENTOS_DIALOG" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>